.clients__list {
    display: flex;
  }
  
.clients__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  } }

  .clients__link {
    color: var(--social-icon);
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-icon);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 250ms var(--cubic), color 250ms var(--cubic);

    &:hover, &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
      }
    }

.client__icon {
  fill: currentColor;
}