.header {
    border-bottom: 1px solid #ECECEC; 

      &-div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        }
  }

  .header__menu {
    @media screen and (max-width: 767px) {
      display: none;      
    }

    @include tab {
      display: flex;
    }
  }

  .nav {
    display: flex;
    margin-left: 93px;

    & li:not(:last-child) {
      margin-right: 50px;
    }
  }
    
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02em;
  
    transition: color 250ms var(--cubic);

    &:hover, &:focus, &:active {
      color: var(--accent-color)
    }
    }
  
  .current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--accent-color);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    position: relative;

    &::after {
      content: "";
      display: flex;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      position: absolute;
      bottom: -1px;
    }
  }
  
  .contact-list {
    display: flex;
    margin-left: auto;

    & li + li {
      margin-left: 50px;
    }
  }
  
  .nav__contact {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--main-text);
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02em;
  
    transition: color 250ms var(--cubic);
   
    &:hover, &:focus {
      color: var(--accent-color);
    }
  }

  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }