.team__section {
  background-color: var(--secondary-background);
  }

  
.team__list {
  @media screen and (min-width: 767px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}
}
  
  .team__member {
    background-color: var(--main-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    @media screen and (max-width: 450px) {
      width: 100%;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 451px) {
      width: 450px;
      margin-bottom: 30px;
    }

    @include tab {
      margin: 15px;
      flex-basis: calc(100% / 2 - 30px);
    }

    @include desk {
        flex-basis: calc(100% / 4 - 30px)
      }
    
  }

 

  // .team__image {
  //   width: 100%;

  //   // @media screen and (min-width: 450px) {
  //   // width: 450px;
  //   // }

  // }
  
  .team__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team__name {
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.17;
    font-size: 16px;
  }

  .team__job {
    line-height: 1.17;
    font-size: 16px;
    margin-top: 10px;
  }

   .team__social {
      margin-top: 16px;
      display: flex;
      justify-content: space-evenly;
      justify-content: center;
      align-items: center;
    }

    .team__social-item {
      color: var(--social-icon);    

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

  
    .team__social-link {
      color: var(--social-icon);
      fill: var(--social-icon);
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      
      transition: background-color 250ms var(--cubic);

      &:hover, &:focus {
        color: var(--main-background);
      fill: currentColor;
      background-color: var(--accent-color);
      }
        }
  
    .team__social-icon {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
