.logo-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;

    @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    }

    &-accent {
      color: var(--accent-color);
    }

    &-header {
      color: var(--black);
    }

    &-footer {
      color: var(--main-background);
    }
  }