.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  .title-text {
    color: var(--title-color);
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }