:root {
    --main-text: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --main-background: #ffffff;
    --secondary-background: #f5f4fa;
    --black: #000000;
    --white: #ffffff;
    --dark-background: #2f303a;
    --address-inactive: color: rgba(255, 255, 255, 0.6);
    --header-border: #ECECEC;
    --hero-button-hover: #188CE8;
    --social-icon: #AFB1B8;

    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }

  $main-font: "Roboto", sans-serif;
